---
- name: Check exist /usr/sbin/httpd
  stat:
    path: /usr/sbin/httpd
  register: httpd_exist
  when: ansible_distribution == 'CentOS'
- name: Check exist /usr/sbin/apache2
  stat:
    path: /usr/sbin/apache2
  register: apache2_exist
  when: ansible_distribution == 'Debian'
- name: Add line compress directory /etc/httpd/
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress httpd config"
    insertafter: EOF
    block: |
      tar -czvf $SAVE_DIR/httpd-$NOW.tar.gz -C /etc/ httpd
    state: present
  when: httpd_exist.stat.exists
# - name: Add line compress directory /etc/apache2/
#   blockinfile:
#     path: /opt/backup-system.sh
#     marker: "# Tuan compress apache2 config"
#     insertafter: EOF
#     block: |
#       tar -czvf $BACKUP_PATH/apche2-$NOW.tar.gz -C /etc/ apache2
#     state: present
#   when: apache2_exist.stat.exists
...