---
- name: Gather the package facts
  package_facts:
    manager: auto
- name: Message check apache2 and httpd
  debug:
    msg:
      - "httpd exist"
  when: "'httpd' in ansible_facts.packages"
- name: Message check apache2 and httpd
  debug:
    msg:
      - "apache2 exist"
  when: "'apache2' in ansible_facts.packages"
- name: Add line compress directory /etc/httpd/
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress httpd config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-httpd-$NOW.tar.gz -C /etc/ httpd
    state: present
  when: 
    - "'httpd' in ansible_facts.packages"
    - apache2 == true
- name: Add line compress directory /etc/apache2/
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress apache2 config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-apache2-$NOW.tar.gz -C /etc/ apache2
    state: present
  when: 
    - "'apache2' in ansible_facts.packages"
    - apache2 == true
...