---
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto
- name: Message check asterisk package
  debug:
    msg:
      - "asterisk package exist"
  when: 'asterisk' in ansible_facts.packages
- name: Check if {{ asterisk_path }} exist
  stat:
    path: "{{ asterisk_path }}"
  register: asterisk_path_check
- name: Message check {{ asterisk_path }}
  debug:
    msg:
      - "{{ asterisk_path }} exist"
  when: 
    - asterisk_path_check.stat.exists
    - asterisk_path_check.stat.isdir
- name: Add line backup directory "{{ asterisk_path }}"
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan backup asterisk config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_RESTORE_PATH/$IP_SERVER-asterisk-$NOW.tar.gz -C {{ asterisk_path }} .
    state: present
  when:
    - "'asterisk' in ansible_facts.packages"
    - asterisk_path_check.stat.exists
    - asterisk_path_check.stat.isdir
...