---
- name: Check if custom_path_01 exist
  shell:
    cmd: ls {{ custom_path_01 }}
  register: custom_path_01
  failed_when: custom_path_01.rc not in [0, 1, 2]
- name: Message check opensips 
  debug:
    msg:
      - "{{ custom_path_01 }} exist"
  when: custom_path_01.rc == 0
- name: Add line compress custom_path_01
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress custom_path_01"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-{{ custom_path_01 | replace('/','') }}-$NOW.tar.gz -C {{ custom_path_01 }} .
    state: present
  when: custom_path_01 != '' and custom_path_01.rc == 0
- name: Check if custom_path_02 exist
  shell:
    cmd: ls {{ custom_path_02 }}
  register: custom_path_02
  failed_when: custom_path_02.rc not in [0, 1, 2]
- name: Message check opensips 
  debug:
    msg:
      - "{{ custom_path_02 }} exist"
  when: custom_path_02.rc == 0
- name: Add line compress custom_path_02
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress custom_path_02"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-{{ custom_path_02 | replace('/','') }}-$NOW.tar.gz -C {{ custom_path_02 }} .
    state: present
  when: custom_path_02 != '' and custom_path_02.rc == 0
- name: Check if custom_path_03 exist
  shell:
    cmd: ls {{ custom_path_03 }}
  register: custom_path_03
  failed_when: custom_path_03.rc not in [0, 1, 2]
- name: Message check opensips 
  debug:
    msg:
      - "{{ custom_path_03 }} exist"
  when: custom_path_03.rc == 0
- name: Add line compress custom_path_03
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress custom_path_03"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-{{ custom_path_03 | replace('/','') }}-$NOW.tar.gz -C {{ custom_path_03 }} .
    state: present
  when: custom_path_03 != '' and custom_path_03.rc == 0
...