---
- name: Check if freeswitch path is exist
  shell:
    cmd: ls {{ freeswitch_path }}
  register: freeswitch_path_check
  failed_when: freeswitch_path_check.rc not in [0, 1, 2]
- name: Message check freeswitch path
  debug:
    msg:
      - "{{ freeswitch_path }} exist"
  when: freeswitch_path_check.rc == 0
- name: Add line backup directory {{ freeswitch_path }} 
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan backup freeswitch config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_RESTORE_PATH/$IP_SERVER-freeswitch-$NOW.tar.gz -C {{ freeswitch_path }} --exclude='./recordings' --exclude='./sounds' --exclude='./db' --exclude='./run' .
    state: present
  when: freeswitch_path_check.rc == 0
...