---
- name: Check if package freeswitch in /usr/local/freeswitch
  shell:
    cmd: ls /usr/local/freeswitch
  register: freeswitch_path
  failed_when: freeswitch_path.rc not in [0, 1, 2]
- name: Message check freeswitch 
  debug:
    msg:
      - "freeswitch exist"
  when: freeswitch_path.rc == 0
- name: Add line compress directory /usr/local/freeswitch
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress freeswitch config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-freeswitch-$NOW.tar.gz -C /usr/local/ freeswitch --exclude="/usr/local/freeswitch/bin" --exclude="/usr/local/freeswitch/db" --exclude="/usr/local/freeswitch/include" --exclude="/usr/local/freeswitch/lib" --exclude="/usr/local/freeswitch/log" --exclude="/usr/local/freeswitch/mod"  --exclude="/usr/local/freeswitch/recordings" --exclude="/usr/local/freeswitch/run"
    state: present
  when: freeswitch_path.rc == 0
...