---
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto
- name: Message check nginx package
  debug:
    msg:
      - "nginx package exist"
  when: 'nginx' in ansible_facts.packages
- name: Check if {{ nginx_path }} exist
  stat:
    path: "{{ nginx_path }}"
  register: nginx_path_check
- name: Message check {{ nginx_path }}
  debug:
    msg:
      - "{{ nginx_path }} exist"
  when: 
    - nginx_path_check.stat.exists
    - nginx_path_check.stat.isdir
- name: Add line backup directory "{{ nginx_path }}"
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan backup nginx config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_RESTORE_PATH/$IP_SERVER-nginx-$NOW.tar.gz -C {{ nginx_path }} .
    state: present
  when:
    - 'nginx' in ansible_facts.packages
    - nginx_path_check.stat.exists
    - nginx_path_check.stat.isdir
...