---
- name: Check if package opensips in /etc/opensips
  shell:
    cmd: ls /etc/opensips
  register: opensips_path
  failed_when: opensips_path.rc not in [0, 1, 2]
- name: Message check opensips 
  debug:
    msg:
      - "opensips exist"
  when: opensips_path.rc == 0
- name: Add line compress directory /etc/opensips
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress opensips config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-opensips-$NOW.tar.gz -C /etc/ opensips
    state: present
  when: opensips_path.rc == 0
...