---
- name: Check if package postgresql is exist
  shell:
    cmd: yum list installed | grep postgresql
  register: postgresql_package
  when: ansible_distribution != 'CentOS'
  failed_when: postgresql_package.rc not in [0, 1]
- name: Check if package postgresql is exist
  shell:
    cmd: dpkg -l | grep postgresql
  register: postgresql_package
  when: ansible_distribution != 'Debian'
  failed_when: postgresql_package.rc not in [0, 1]
- name: Message check postgresql 
  debug:
    msg:
      - "postgresql exist"
  when: postgresql_package.rc == 0
- name: Add line compress directory /etc/postgresql/
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan compress postgresql config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_PATH/$IP_SERVER-postgresql-$NOW.tar.gz -C /etc/ mysql
    state: present
  when: postgresql_package.rc == 0
...