---
- name: Check if backup_restore_path is empty
  fail: msg="backup_restore_path is empty"
  when: backup_restore_path == ''
- name: Check if rclone_url is empty
  fail: msg="rclone_url is empty"
  when: rclone_url == ''
- name: Check file /opt/backup-system.sh
  stat:
    path: /opt/backup-system.sh
  register: backup_file
- name: Backup file /opt/backup-system.sh
  shell:
    cmd: mv /opt/backup-system.sh /opt/backup-system.sh.$(date +%Y-%m-%d--%H-%M-%S).bak
  when: backup_file.stat.exists
- name: Delete file /opt/backup-system.sh older than 30 days
  shell:
    cmd: find /opt/ -mtime +30 -name "backup-system.sh" -exec rm {} \;
  when: backup_file.stat.exists
- name: Insert base variables
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan set variable bash shell"
    insertbefore: BOF
    block: |
      #!/bin/bash
      IP_SERVER=$(curl ifconfig.me)
      NOW=$(date +%Y-%m-%d)
      TIME=$(date +%Y-%m-%d--%H-%M-%S)
      YEAR=$(date +%Y)
      MONTH=$(date +%h)
      DAY=$(date +%d)
      RCLONE_PATH=google-drive:google-drive/{{ rclone_url | replace(' ','-') }}/config-n-database/$YEAR/$MONTH/$DAY
      RCLONE_RECORDINGS_PATH=google-drive:google-drive/{{ rclone_url | replace(' ','-') }}/recordings
      BACKUP_RESTORE_PATH={{ backup_restore_path }}
      RECORD_PATH={{ recordings_path }}
      CUSTOM_PATH_01={{ custom_path_01  }}
      CUSTOM_PATH_02={{ custom_path_02  }}
      CUSTOM_PATH_03={{ custom_path_03  }}
      DB_USER='{{ db_user }}'
      DB_PASS='{{ db_pass }}'
    state: present
    create: yes
- name: Create backup directory
  file:
    path: "{{ backup_restore_path }}"
    state: directory
...