---
- name: Check file /opt/backup-system.sh
  stat:
    path: /opt/backup-system.sh
  register: backup_file
- name: Backup file /opt/backup-system.sh
  shell:
    cmd: mv /opt/backup-system.sh /opt/backup-system.sh.$(date +%Y-%m-%d:%H-%M-%S).bak
  when: backup_file.stat.exists
- name: Delete file /opt/backup-system.sh older than 30 days
  shell:
    cmd: find /opt/ -mtime +30 -name "backup-system.sh" -exec rm {} \;
  when: backup_file.stat.exists
- name: Insert base variables
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan set variable bash shell"
    insertbefore: BOF
    block: |
      #!/bin/bash
      IP_SERVER=$(curl ifconfig.me)
      NOW=$(date +%Y-%m-%d:%H-%M-%S)
      YEAR=$(date +%Y)
      MONTH=$(date +%h)
      DAY=$(date +%d)
      RCLONE_PATH=google-drive:google-drive/{{ rclone_path }}
      RCLONE_RECORDINGS_PATH=google-drive:google-drive/{{ rclone_path }}/recordings
      BACKUP_PATH={{ backup_path }}
      RECORD_PATH={{ recordings_path }}
      CUSTOM_PATH_01={{ custom_path_01  }}
      CUSTOM_PATH_02={{ custom_path_02  }}
      CUSTOM_PATH_03={{ custom_path_03  }}
    state: present
    create: yes
- name: Create backup directory
  file:
    path: "{{ backup_path }}"
    state: directory
...