---
- name: Check if rtpengine package is exist with yum
  shell:
    cmd: yum list installed | grep rtpengine
  register: rtpengine_package_check
  failed_when: rtpengine_package_check.rc not in [0, 1]
  when: ansible_distribution == 'CentOS'
- name: Check if rtpengine package is exist with dpkg
  shell:
    cmd: dpkg -l | grep rtpengine
  register: rtpengine_package_check
  failed_when: rtpengine_package_check.rc not in [0, 1]
  when: ansible_distribution == 'Debian'
- name: Message check rtpengine package 
  debug:
    msg:
      - "rtpengine package exist"
  when: rtpengine_package_check.rc == 0
- name: Check if rtpengine path is exist
  shell:
    cmd: ls {{ rtpengine_path }}
  register: rtpengine_path_check
  failed_when: rtpengine_path_check.rc not in [0, 1, 2]
- name: Message check rtpengine path
  debug:
    msg:
      - "{{ rtpengine_path }} exist"
  when: rtpengine_path_check.rc == 0
- name: Add line backup directory {{ rtpengine_path }}
  blockinfile:
    path: /opt/backup-system.sh
    marker: "# Tuan backup rtpengine config"
    insertafter: EOF
    block: |
      tar -czvf $BACKUP_RESTORE_PATH/$IP_SERVER-rtpengine-$NOW.tar.gz -C {{ rtpengine_path }} .
    state: present
  when: rtpengine_package_check.rc == 0 and rtpengine_path_check.rc == 0
...