---
- name: Check if asterisk package is exist with yum
  shell:
    cmd: yum list installed | grep asterisk
  register: asterisk_package_check
  failed_when: asterisk_package_check.rc not in [0, 1]
  when: ansible_distribution == 'CentOS'
- name: Check if asterisk package is exist with dpkg
  shell:
    cmd: dpkg -l | grep asterisk
  register: asterisk_package_check
  failed_when: asterisk_package_check.rc not in [0, 1]
  when: ansible_distribution == 'Debian'
- name: Message check asterisk package
  debug:
    msg:
      - "asterisk package exist"
  when: asterisk_package_check.rc == 0
- name: Check if asterisk path is exist
  shell:
    cmd: ls {{ asterisk_path }}
  register: asterisk_path_check
  failed_when: asterisk_path_check.rc not in [0, 1, 2]
- name: Message check asterisk path
  debug:
    msg:
      - "{{ asterisk_path }} exist"
  when: asterisk_path_check.rc == 0
- name: Add line restore directory $BACKUP_RESTORE_PATH/asterisk/
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan restore asterisk config"
    insertafter: EOF
    block: |
      tar -xzvf $BACKUP_RESTORE_PATH/*-asterisk-$NOW.tar.gz -C $BACKUP_RESTORE_PATH/asterisk
      mv {{ asterisk_path }} {{ asterisk_path }}.$TIME.bak
      mv $BACKUP_RESTORE_PATH/asterisk {{ asterisk_path }}
      asterisk -x 'core restart now'
    state: present
  when: asterisk_package_check.rc == 0 and asterisk_path_check.rc == 0
...