---
- name: Check if freeswitch path is exist
  shell:
    cmd: ls {{ freeswitch_path }}
  register: freeswitch_path_check
  failed_when: freeswitch_path_check.rc not in [0, 1, 2]
- name: Message check freeswitch path
  debug:
    msg:
      - "{{ freeswitch_path }} exist"
  when: freeswitch_path_check.rc == 0\
- name: Add line restore directory $BACKUP_RESTORE_PATH/freeswitch/
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan restore freeswitch config"
    insertafter: EOF
    block: |
      tar -xzvf $BACKUP_RESTORE_PATH/*-freeswitch-$NOW.tar.gz -C $BACKUP_RESTORE_PATH/freeswitch
      mv {{ freeswitch_path }} {{ freeswitch_path }}.$TIME.bak
      mv $BACKUP_RESTORE_PATH/freeswitch {{ freeswitch_path }}
      mv {{ freeswitch_path }}.$TIME.bak/sounds {{ freeswitch_path }}/sounds
      bash /root/restart-fs.sh
    state: present
  when: freeswitch_path_check.rc == 0
...