---
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto
- name: Message check mariadb package
  debug:
    msg:
      - "mariadb package exist"
  when: "'mariadb-server' in ansible_facts.packages"
- name: Check if {{ mariadb_path }} exist
  stat:
    path: "{{ mariadb_path }}"
  register: mariadb_path_check
- name: Message check {{ mariadb_path }}
  debug:
    msg:
      - "{{ mariadb_path }} exist"
  when: 
    - mariadb_path_check.stat.exists
    - mariadb_path_check.stat.isdir
- name: Create directory for mariadb
  file:
    path: "{{ backup_restore_path }}/mysql"
    state: directory
  when:
    - "'mariadb-server' in ansible_facts.packages"
    - mariadb_path_check.stat.exists
    - mariadb_path_check.stat.isdir
- name: Add line restore directory $BACKUP_RESTORE_PATH/mariadb/
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan restore mariadb config"
    insertafter: EOF
    block: |
      tar -xzvf $BACKUP_RESTORE_PATH/*-mariadb-$NOW.tar.gz -C $BACKUP_RESTORE_PATH/mysql
      mv {{ mariadb_path }} {{ mariadb_path }}.$TIME.bak
      mv $BACKUP_RESTORE_PATH/mysql {{ mariadb_path }}
      systemctl restart mariadb
      for db_file in {{ backup_restore_path }}/*-db-*-$NOW.sql.gz; do
          gunzip < $db_file | mysql -u "$DB_USER" -p"$DB_PASS"
      done
    state: present
  when:     
    - "'mariadb-server' in ansible_facts.packages"
    - mariadb_path_check.stat.exists
    - mariadb_path_check.stat.isdir
    - db_user != '' 
    - db_pass != ''
...