---
- name: Check if nginx package is exist with yum
  shell:
    cmd: yum list installed | grep nginx
  register: nginx_package_check
  failed_when: nginx_package_check.rc not in [0, 1]
  when: ansible_distribution == 'CentOS'
- name: Check if nginx package is exist with dpkg
  shell:
    cmd: dpkg -l | grep nginx
  register: nginx_package_check
  failed_when: nginx_package_check.rc not in [0, 1]
  when: ansible_distribution == 'Debian'
- name: Message check nginx package
  debug:
    msg:
      - "nginx package exist"
  when: nginx_package_check.rc == 0
- name: Check if nginx path is exist
  shell:
    cmd: ls {{ nginx_path }}
  register: nginx_path_check
  failed_when: nginx_path_check.rc not in [0, 1, 2]
- name: Message check nginx path
  debug:
    msg:
      - "{{ nginx_path }} exist"
  when: nginx_path_check.rc == 0
- name: Create directory for nginx
  file:
    path: "{{ backup_restore_path }}/nginx"
    state: directory
  when: nginx_package_check.rc == 0 and nginx_path_check.rc == 0
- name: Add line restore directory $BACKUP_RESTORE_PATH/nginx/
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan restore nginx config"
    insertafter: EOF
    block: |
      tar -xzvf $BACKUP_RESTORE_PATH/*-nginx-$NOW.tar.gz -C $BACKUP_RESTORE_PATH/nginx
      mv {{ nginx_path }} {{ nginx_path }}.$TIME.bak
      mv $BACKUP_RESTORE_PATH/nginx {{ nginx_path }}
      systemctl restart nginx
    state: present
  when: nginx_package_check.rc == 0 and nginx_path_check.rc == 0
...