---
- name: Check if package nginx is exist with dpkg
  shell:
    cmd: dpkg -l | grep nginx
  register: nginx_package
  when: ansible_distribution == 'Debian'
  failed_when: nginx_package.rc not in [0, 1]
- name: Message check nginx
  debug:
    msg:
      - "nginx exist"
  when: ansible_distribution == 'Debian' and nginx_package.rc == 0
- name: Add line extract directory /etc/nginx/
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan extract nginx config"
    insertafter: EOF
    block: |
      tar -xzvf $BACKUP_RESTORE_PATH/$IP_SERVER-nginx-$NOW.tar.gz -C $BACKUP_RESTORE_PATH/nginx
    state: present
  when: ansible_distribution == 'Debian' and nginx_package.rc == 0
- name: Backup directory /etc/nginx
  shell:
    cmd: mv /etc/nginx /etc/nginx.$(date +%Y-%m-%d--%H-%M-%S).bak
  when: ansible_distribution == 'Debian' and nginx_package.rc == 0
- name: Add line extract directory /etc/nginx/
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan extract nginx config"
    insertafter: EOF
    block: |
      mv $BACKUP_RESTORE_PATH/nginx /etc/nginx
    state: present
  when: ansible_distribution == 'Debian' and nginx_package.rc == 0
...