---
- name: Check if rclone url exist
  shell:
    cmd:
- name: Check file /opt/restore-system.sh
  stat:
    path: /opt/restore-system.sh
  register: restore_file
- name: Backup file /opt/restore-system.sh
  shell:
    cmd: mv /opt/restore-system.sh /opt/restore-system.sh.$(date +%Y-%m-%d--%H-%M-%S).bak
  when: restore_file.stat.exists
- name: Delete file /opt/restore-system.sh older than 30 days
  shell:
    cmd: find /opt/ -mtime +30 -name "restore-system.sh" -exec rm {} \;
  when: restore_file.stat.exists
- name: Insert base variables
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan set variable bash shell"
    insertbefore: BOF
    block: |
      #!/bin/bash
      IP_SERVER=
      NOW=$(date +%Y-%m-%d)
      YEAR=$(date +%Y)
      MONTH=$(date +%h)
      DAY=$(date +%d)
      RCLONE_PATH=google-drive:google-drive/{{ rclone_url }}/config-n-database/$YEAR/$MONTH/$DAY
      RCLONE_RECORDINGS_PATH=google-drive:google-drive/{{ rclone_url }}/recordings
      BACKUP_RESTORE_PATH={{ backup_restore_path }}
      RECORD_PATH={{ recordings_path }}
      CUSTOM_PATH_01={{ custom_path_01  }}
      CUSTOM_PATH_02={{ custom_path_02  }}
      CUSTOM_PATH_03={{ custom_path_03  }}
      DB_USER={{ db_user }}
      DB_PASS={{ db_pass }}
    state: present
    create: yes
- name: Create restore directory
  file:
    path: "{{ backup_restore_path }}"
    state: directory
- name: Download file from google drive
  blockinfile:
    path: /opt/restore-system.sh
    marker: "# Tuan download file restore"
    insertbefore: EOF
    block: |
      rclone copy -P --ignore-existing $RCLONE_PATH $BACKUP_RESTORE_PATH
    state: present
- name: Create directory for httpd
  file:
    path: "{{ backup_restore_path }}/httpd"
    state: directory
  when: ansible_distribution == 'CentOS' and apache2 == "true"
- name: Create directory for apache2
  file:
    path: "{{ backup_restore_path }}/apache2"
    state: directory
  when: ansible_distribution == 'Debian' and apache2 == "true"
- name: Create directory for nginx
  file:
    path: "{{ backup_restore_path }}/nginx"
    state: directory
  when: nginx == "true"
...