---
- include: backup/pre-backup.yml
  tags:
    - pre-backup
- include: backup/apache2.yml
  tags:
    - apache2
  when: apache2 == "true"
- include: backup/nginx.yml
  tags:
    - nginx
  when: nginx == "true"
- include: backup/run-backup.yml
  tags:
    - run-backup
...