---
- include: backup/pre-backup.yml
  tags:
    - pre-backup
- include: backup/apache2.yml
  tags:
    - apache2
  when: apache2 == "true"
- include: backup/nginx.yml
  tags:
    - nginx
  when: nginx == "true"
- include: backup/mariadb.yml
  tags:
    - mariadb
  when: mariadb == "true"
- include: backup/postgresql.yml
  tags:
    - postgresql
  when: postgresql == "true"
- include: backup/asterisk.yml
  tags:
    - asterisk
  when: asterisk == "true"
- include: backup/freeswitch.yml
  tags:
    - freeswitch
  when: freeswitch == "true"
- include: backup/kamailio.yml
  tags:
    - kamailio
  when: kamailio == "true"
- include: backup/opensips.yml
  tags:
    - opensips
  when: opensips == "true"
- include: backup/rtpengine.yml
  tags:
    - rtpengine
  when: rtpengine == "true"
- include: backup/custom-path.yml
  tags:
    - custom-path
  when: custom_path_01 != '' or custom_path_02 != '' or custom_path_03 != ''
- include: backup/run-backup.yml
  tags:
    - run-backup
...