---
# tasks file for ansible-backup-n-restore
- include: install-rclone.yml
  tags:
    - install-rclone
- include: backup.yml
  tags:
    - backup
  when: task == "backup"
# - include: restore.yml
#   tags:
#     - backup
#   when: task == "restore"
...